.box-item {
    background-color: blue;
    height: 400px;
    color: white;
    padding: 20px;
    width: 500px;
}

@media screen and (max-width: 600px) {
    .box-item {
        width: 200px;
        height: 100px;
        background-color: teal;
        color: oldlace;
    }
}